:root {
    --accent: #ccff00; /* Warna hijau neon sesuai variabel Anda */
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 5px;
    height: 190px; /* Sesuai tinggi frame minus padding */
    overflow: hidden;
}

.player-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 { 
    color: var(--accent); 
    font-size: 12px; 
    margin: 2px 0; 
    text-align: center; 
}

/* Soundbar dibuat lebih tipis agar muat */
.visualizer-box {
    background: #000;
    height: 40px; 
    margin-bottom: 5px;
}

#visualizer { width: 100%; height: 100%; }

/* Player bawaan browser diperkecil */
audio {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    filter: invert(1) hue-rotate(90deg);
}

/* Playlist sisanya agar bisa scroll di dalam */
.playlist-wrapper {
    flex-grow: 1;
    background: #111;
    border-radius: 5px;
    overflow-y: auto;
}

ul { list-style: none; padding: 0; margin: 0; }

li {
    padding: 6px 10px;
    border-bottom: 1px solid #222;
    cursor: pointer;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
