body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.player-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 { color: #ccff00; font-size: 1.5rem; margin-bottom: 20px; }

/* Styling Soundbar */
.visualizer-box {
    background: #111;
    border: 2px solid #ccff00;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 100px;
    overflow: hidden;
}

#visualizer {
    width: 100%;
    height: 100%;
}

audio {
    width: 100%;
    margin-bottom: 20px;
    filter: invert(100%) hue-rotate(90deg); /* Biar warnanya nyambung ke hijau neon */
}

.playlist-wrapper {
    text-align: left;
    background: #111;
    border-radius: 10px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

ul { list-style: none; padding: 0; margin: 0; }

li {
    padding: 12px;
    border-bottom: 1px solid #222;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

li:hover { background: #222; }
