:root { --accent: #ccff00; }
body, html { margin: 0; padding: 0; height: 100%; background: #000; overflow: hidden; }
.player-container { display: flex; flex-direction: column; height: 100vh; }

.now-playing {
    background: #111;
    color: var(--accent);
    font-size: 11px;
    padding: 5px;
    border-bottom: 1px solid #333;
    flex-shrink: 0;
    text-align: center;
}

.visualizer-box { height: 35px; background: #000; flex-shrink: 0; }
#visualizer { width: 100%; height: 100%; }

audio { 
    width: 100%; 
    height: 35px; 
    flex-shrink: 0; 
    filter: invert(1) hue-rotate(80deg) brightness(1.5);
    background: #000;
}

/* Hilangkan lingkaran putih yang menutupi tombol */
audio::-webkit-media-controls-enclosure { background-color: rgba(0,0,0,0); }

.playlist-wrapper {
    flex: 1; /* Menghilangkan area merah kosong */
    background: #111;
    overflow-y: auto;
    border-top: 1px solid var(--accent);
}

ul { list-style: none; padding: 0; margin: 0; }
li { padding: 12px; border-bottom: 1px solid #222; font-size: 11px; color: #fff; cursor: pointer; }
li.active { color: var(--accent); background: rgba(204, 255, 0, 0.1); font-weight: bold; }
