:root {
    --accent: #ccff00;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 200px; /* Tinggi wajib dikunci */
    overflow: hidden;
}

.player-container {
    height: 200px;
    display: flex;
    flex-direction: column;
}

/* Kotak Visualizer di atas */
.visualizer-box {
    height: 35px;
    background: #000;
    flex-shrink: 0;
}

#visualizer { width: 100%; height: 100%; }

/* Kontrol Audio Pas di Tengah */
audio {
    width: 100%;
    height: 35px;
    flex-shrink: 0;
    filter: invert(1) hue-rotate(90deg) brightness(1.5);
    background: #000;
}

/* Playlist otomatis sisa 130px ke bawah */
.playlist-wrapper {
    flex-grow: 1;
    background: #111;
    overflow-y: auto;
    border-top: 2px solid var(--accent);
}

ul { list-style: none; padding: 0; margin: 0; }

li {
    padding: 8px 12px;
    border-bottom: 1px solid #222;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.active {
    color: var(--accent);
    background: rgba(204, 255, 0, 0.1);
    font-weight: bold;
}
