:root { --accent: #ccff00; }
body, html { margin: 0; padding: 0; height: 100%; background: #000; overflow: hidden; font-family: sans-serif; }

.player-container { 
    display: flex; 
    flex-direction: column; 
    height: 100vh; /* Mengisi penuh frame antrian */
}

/* Teks Berjalan */
.now-playing {
    background: #111;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #333;
    flex-shrink: 0;
    height: 25px;
}
.scroll-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 12s linear infinite;
    color: var(--accent);
    font-size: 11px;
    line-height: 25px;
    font-weight: bold;
}
@keyframes marquee { 100% { transform: translate(-100%, 0); } }

/* Visualizer */
.visualizer-box { height: 40px; background: #000; flex-shrink: 0; }
#visualizer { width: 100%; height: 100%; }

/* AREA TOMBOL CUSTOM */
.custom-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #000;
    padding: 10px 0;
    flex-shrink: 0;
    border-bottom: 1px solid var(--accent);
}

/* Gaya Tombol Neon */
.custom-controls button {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Tombol Bulat */
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

/* Efek Tekan */
.custom-controls button:active {
    background: var(--accent);
    color: #000;
    transform: scale(0.95);
}

/* Tombol Play Lebih Besar */
#btnPlay {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background: rgba(204, 255, 0, 0.1); /* Agak terang dikit */
}

/* Playlist Full Bawah */
.playlist-wrapper {
    flex: 1; 
    background: #0a0a0a;
    overflow-y: auto;
}
ul { list-style: none; padding: 0; margin: 0; }
li { padding: 12px 15px; border-bottom: 1px solid #222; font-size: 11px; color: #ccc; cursor: pointer; }
li.active { color: #000; background: var(--accent); font-weight: bold; }
